<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Innovation E-class</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div class="flex flex-row w-full h-screen bg-customGray">
      <div
        class="flex flex-col w-1/5 border-r border-gray-600 px-8 py-10 h-full"
      >
        <p class="text-xl font-extrabold text-white mb-[40px] py-3">
          Hepheastus class
        </p>
        <div class="flex flex-col justify-between h-full">
          <div class="flex flex-col space-y-[15px] h-full">
            <div
              class="flex flex-row space-x-[10px] p-3 rounded-lg items-center hover:bg-hover-gradient cursor-pointer"
            >
              <img src="/images/home.png" class="w-[24px] h-[24px]" />

              <p class="text-white font-extrabold">Dashboard</p>
            </div>

            <div
              class="flex flex-row space-x-[10px] p-3 rounded-lg items-center hover:bg-hover-gradient cursor-pointer"
            >
              <img src="/images/briefcase.png" class="w-[24px] h-[24px]" />

              <p class="text-white font-extrabold">Projects</p>
            </div>

            <div
              class="flex flex-row space-x-[10px] p-3 rounded-lg items-center hover:bg-hover-gradient cursor-pointer"
            >
              <img src="/images/cap.png" class="w-[24px] h-[24px]" />

              <p class="text-white font-extrabold">Lessons</p>
            </div>

            <div
              class="flex flex-row space-x-[10px] p-3 rounded-lg items-center hover:bg-hover-gradient cursor-pointer"
            >
              <img src="/images/cube.png" class="w-[24px] h-[24px]" />

              <p class="text-white font-extrabold">Management</p>
            </div>
          </div>

          <div
            class="flex flex-row py-4 px-3 border-t border-gray-600 justify-between items-center"
          >
            <div
              class="p-3 hover:bg-hover-gradient rounded-lg items-center justify-center cursor-pointer"
            >
              <img src="/images/user.png" class="w-[24px] h-[24px]" />
            </div>

            <div
              class="p-3 hover:bg-hover-gradient rounded-lg items-center justify-center cursor-pointer"
            >
              <p class="text-white font-extrabold">Xartokoptiko</p>
            </div>

            <div
              class="p-3 hover:bg-hover-gradient rounded-lg items-center justify-center cursor-pointer"
            >
              <img src="/images/exit.png" class="w-[24px] h-[24px]" />
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-4/5 border-r-gray-600 border-1 px-8 py-10">
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col">
            <p class="text-sm font-extrabold text-white">/ Home</p>
            <p class="font-extrabold text-white">Dashboard</p>
          </div>
        </div>

        <div class="grid grid-cols-3 gap-10 w-full mt-10">
          <div
            class="flex flex-row bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 justify-between items-center rounded-lg cursor-pointer"
          >
            <div class="flex flex-col">
              <p class="text-cs text-gray-200">Tasks for me</p>
              <p class="text-white font-extrabold">4</p>
            </div>

            <div class="p-3 bg-customGray rounded-lg">
              <img src="/images/list.png" class="w-[24px] h-[24px]" />
            </div>
          </div>

          <div
            class="flex flex-row bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 justify-between items-center rounded-lg cursor-pointer"
          >
            <div class="flex flex-col">
              <p class="text-cs text-gray-200">Done Tasks</p>
              <p class="text-white font-extrabold">12</p>
            </div>

            <div class="p-3 bg-customGray rounded-lg">
              <img src="/images/check.png" class="w-[24px] h-[24px]" />
            </div>
          </div>

          <div
            class="flex flex-row bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 justify-between items-center rounded-lg cursor-pointer"
          >
            <div class="flex flex-col">
              <p class="text-cs text-gray-200">My lessons</p>
              <p class="text-white font-extrabold">4</p>
            </div>

            <div class="p-3 bg-customGray rounded-lg">
              <img src="/images/cap.png" class="w-[24px] h-[24px]" />
            </div>
          </div>

          <div
            class="col-span-2 flex flex-row bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 justify-between items-center rounded-lg cursor-pointer text-white"
          >
            <div class="max-w-full px-3 lg:w-1/2 lg:flex-none">
              <div class="flex flex-col h-full">
                <p class="pt-2 mb-1 font-semibold">Hepheastus E-class</p>
                <h5 class="font-bold">& Project manager</h5>
                <p class="mb-12">
                  Hepheastus E-class and project manager is here to help 
                  any team in university of Peloponnese
                </p>
                <a
                  class="mt-auto mb-0 font-semibold leading-normal text-sm group"
                  href="javascript:;"
                >
                  Read More / how it's made
                  <i
                    class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"
                    aria-hidden="true"
                  ></i>
                </a>
              </div>
            </div>
            <div
              class="max-w-full px-3 mt-12 ml-auto text-center lg:mt-0 lg:w-5/12 lg:flex-none"
            >
              <div
                class="h-full bg-gradient-to-tl from-purple-700 to-pink-500 rounded-xl"
              >
                <div class="relative flex items-center justify-center h-full">
                  <img
                    class="relative z-20 w-full pt-6"
                    src="/images/rocket-white.png"
                    alt="rocket"
                  />
                </div>
              </div>
            </div>
          </div>

          <div
            class="row-span-2 flex flex-col bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 space-y-[25px] justify-center items-center rounded-lg cursor-pointer"
          >
            <p class="text-lg font-extrabold text-white">Open software & Hardware</p>

            <div
                class="bg-gradient-to-tl from-purple-700 to-pink-500 rounded-xl"
              >
                <div class="flex items-center justify-center p-10">
                  <img
                    class="relative z-20 w-[56px] h-[56px]"
                    src="/images/layer.png"
                    alt="rocket"
                  />
                </div>
              </div>


            
          </div>

          <div
            class="flex flex-row bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 justify-between items-center rounded-lg cursor-pointer"
          >
            <div class="flex flex-col">
              <p class="text-cs text-gray-200">Total Projects</p>
              <p class="text-white font-extrabold">2</p>
            </div>

            <div class="p-3 bg-customGray rounded-lg">
              <img src="/images/briefcase.png" class="w-[24px] h-[24px]" />
            </div>
          </div>
          <div
            class="flex flex-row bg-hover-gradient hover:bg-hover-gradient-reverse px-10 py-3 justify-between items-center rounded-lg cursor-pointer"
          >
            <div class="flex flex-col">
              <p class="text-cs text-gray-200">Pending Meetings</p>
              <p class="text-white font-extrabold">6</p>
            </div>

            <div class="p-3 bg-customGray rounded-lg">
              <img src="/images/users-alt.png" class="w-[24px] h-[24px]" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
