<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        lang="en"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Innovation E-class</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

    <div class="flex flex-row w-full h-full bg-custom-gradient">
        <p>lalalalalalal</p>
    </div>

</body>
</html>